<ng-container>
  <form [formGroup]="form" (ngSubmit)="submit($event)">
    <!-- Especialidades -->
    <ng-container formArrayName="specialities">
      <div class="row valign-wrapper" *ngFor="let item of IOSpecialities.controls; let i = index" [formGroupName]="i">
        <div class="col s10 m6 input-container">
          <label for="id"> Especialidad </label>
          <select name="id" id="id" formControlName="id" class="browser-default" [class.input-invalid]="item?.dirty && item?.invalid">
            <ng-container *ngFor="let speciality of specialities">
              <option [value]="speciality._id" *ngIf="checkAvailableSpecialityItem(speciality, i)"> {{ speciality.name }} </option>
            </ng-container>
          </select>
        </div>

        <div class="col s2 m6">
          <a class="" (click)="removeSpeciality(i)" *ngIf="IOSpecialities.controls.length > 1"> <i class="material-icons"> close </i> </a>  
        </div>
      </div>
    </ng-container>

    <div class="row">
      <div class="col s12">
        <button class="btn" (click)="addSpeciality()" [disabled]="form.invalid || checkAvailableSpecialities()"> <i class="material-icons left"> add </i> Agregar una más </button>
      </div>
    </div>
  </form>
</ng-container>