<ng-container>
  <form [formGroup]="form" (ngSubmit)="submit($event)">
    <!-- email -->
    <div class="row">
      <div class="col s12 m6 input-container">
        <label for="email"> Correo electrónico </label>
        <input type="text" name="email" id="email" formControlName="email" class="browser-default"
          [class.input-invalid]="IOEmail?.dirty && IOEmail?.invalid">
      </div>
    </div>

    <!-- phone -->
    <div class="row">
      <div class="col s12 m6 input-container">
        <label for="phone"> Teléfono </label>
        <input type="text" name="phone" id="phone" formControlName="phone" class="browser-default"
          [class.input-invalid]="IOPhone?.dirty && IOPhone?.invalid">
      </div>
    </div>
    
    <!-- name -->
    <div class="row">
      <div class="col s12 m6 input-container">
        <label for="name"> Nombre </label>
        <input type="text" name="name" id="name" formControlName="name" class="browser-default"
          [class.input-invalid]="IOName?.dirty && IOName?.invalid">
      </div>
    </div>

    <!-- lastname -->
    <div class="row">
      <div class="col s12 m6 input-container">
        <label for="lastname"> Primer apellido </label>
        <input type="text" name="lastname" id="lastname" formControlName="lastname" class="browser-default"
          [class.input-invalid]="IOLastname?.dirty && IOLastname?.invalid">
      </div>
    </div>

    <!-- secondLastname -->
    <div class="row">
      <div class="col s12 m6 input-container">
        <label for="secondLastname"> Segundo apellido </label>
        <input type="text" name="secondLastname" id="secondLastname" formControlName="secondLastname" class="browser-default"
          [class.input-invalid]="IOSecondLastname?.dirty && IOSecondLastname?.invalid">
      </div>
    </div>

    <!-- submit -->
    <div class="row">
      <div class="col s12 m6">
        <button type="submit" style="width: 50%;"> Guardar </button>
      </div>
    </div>
  </form>
</ng-container>