/* Buttons */
button {
  outline: none;
  border: none;  
  width: 100%;
  padding-top: 14px;
  padding-bottom: 14px;
  border-radius: 10px;
  font-size: 15px;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
}

button::first-letter {
  text-transform: uppercase;
}

button {
  font-size: 15px;
  background-color: #003f7d;
  color: white;

  box-shadow: 1px 10px 18px -5px rgba(0,63,125,0.6);
  -webkit-box-shadow: 1px 10px 18px -5px rgba(0,63,125,0.6);
  -moz-box-shadow: 1px 10px 18px -5px rgba(0,63,125,0.6);
}

button:hover {
  transform: scale(1.01);
}

button:disabled {
  background-color: #DFDFDF !important;
  color: #9F9F9F !important;
  transform: none;
  cursor: default;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}

/*  .loader is a global class  */
.loader {
  /* margin-left: 10px; */
  height: 20px;
  width: 20px;
}

.loader::after, .loader::before {
  border-color: #003F7D #003e7da4 transparent transparent;
}