<ng-container>
  <div class="row">
    <div class="col s12">
      <a [routerLink]="['/patient/register']"> Agregar </a>
    </div>
  </div>

  <div class="row">
    <div class="col s12 card" *ngFor="let patient of patients">
      <p> <strong> email: </strong> {{ patient.email }} </p>
      <p> <strong> phone: </strong> {{ patient.phone }} </p>
      <p> <strong> name: </strong> {{ patient.name }} </p>
      <p> <strong> lastname: </strong> {{ patient.lastname }} </p>
      <p> <strong> secondLastname: </strong> {{ patient.secondLastname }} </p>
    </div>
  </div>
</ng-container>