/* .hour-container {
  position: relative;
}

.hour-rectangle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white; 
  opacity: 0.3; 
} */

.hour-label {
  position: relative;
  /* top: -16px; */
  padding: 3px;
  width: 4rem;
  color: black; 
  background-color: #fff;
}

/* .highlighted {
  width: 100%;
  height: 100%;
  background-color: blue;
}  */

ul.collection {
  /* padding-top: 10px; */
  margin-top: 20px;
  border: none;
  position: relative;
}

li.collection-item {
  background-color: #fff;
  padding: 0;
  margin: 0;
  height: 3.5rem;
  border-top: 1px dashed #a6a6a6;
}

.cube {
  border: 1px solid red;
  width: 80%;
  height: 3.5rem;
  position: absolute;
  top: 7rem;
  left: 5rem;
}
