.hour-list-container {
  padding: 0px;
  position: relative;
  overflow: hidden; /* Para ocultar el desbordamiento de los divs superpuestos */
}

ul.collection {
  border-top: 1px dashed #a6a6a6;
  border-bottom: 1px dashed #a6a6a6;
  border-left: none;
  border-right: none;
  position: relative;
}

li.collection-item {
  background-color: #fff;
  padding: 0;
  margin: 0;
  height: 2.5rem;
  border-bottom: 1px dashed #a6a6a6;
}

.hour-label {
  position: relative;
  padding: 0;
  margin: 0;
  background-color: #fff;
}

.highlight-square {
  padding: 5px 0 0 5px;
  margin: 0;
  border: 1px solid #fff;
  border-radius: 10px;
  position: absolute;
  top: 0;
  background-color: #003F7D; /* Puedes ajustar el color del cuadrado según tus preferencias */
  opacity: 0.6; /* Ajusta la opacidad según tus preferencias */
  transition: left 0.3s; /* Agrega una transición suave para el desplazamiento hacia la derecha */
  white-space: nowrap; /* Para evitar el ajuste automático de líneas */
}

.highlighted {
  background-color: yellow;
}