<ng-container *ngIf="!findProfileLoading && !createProfileLoading; else LoadingSection">
  <header>  
    <!-- navbar -->
    <div class="navbar-fixed show-on-medium-and-down hide-on-large-only">
      <nav>
        <div class="nav-wrapper">
          <a data-target="slide-out" class="sidenav-trigger"><i class="material-icons menu-icon">menu</i></a>
  
          <h4 class="brand-logo" style="font-weight: 600;"> Zeganet </h4>  
        </div>
      </nav>
    </div>

    <!-- Sidenav -->
    <ul id="slide-out" class="sidenav sidenav-fixed" (click)="closeSidenav()" #sidenav>
      <li><div class="user-view">
        <a><img class="circle" src="/assets/images/logo.png"></a>
        <a><span class="name"> {{user.name ?? 'Bienvenido' }} {{ user.lastname ?? ''}} </span></a>
        <a><span class="email"> {{user.email}} </span></a>
      </div></li>

      <li><a class="subheader"> Menú </a></li>
      <li><a class="waves-effect" [routerLink]="['/patient']"> <i class="material-icons">group</i> Pacientes </a></li>
      <li><a class="waves-effect" [routerLink]="['/schedule/overview']"> <i class="material-icons">calendar_month</i> Mi agenda </a></li>
      <li><a class="waves-effect" [routerLink]="['/office']"> <i class="material-icons">home_health</i> Mis consultorios </a></li>
      <li><a class="waves-effect" [routerLink]="['/form']"> <i class="material-icons">home_health</i> Formulario </a></li>
      <li><a class="waves-effect" [routerLink]="['/user/profile']"> <i class="material-icons">account_circle</i> Mi perfil </a></li>

      <li><div class="divider"></div></li>

      <li><a class="waves-effect" (click)="logout()"> <i class="material-icons">logout</i> Cerrar sesión </a></li>

      <li><a style="cursor: default; font-size: 10px; color: rgb(160, 160, 160);"> WEB APP VERSION - {{ projectVersion }} </a></li>
    </ul>
  </header> 

  <main>  
    <router-outlet></router-outlet>    
  </main>
  
  <footer>

  </footer>
</ng-container>

<ng-template #LoadingSection>
  <p> LOADING ... </p>
</ng-template>