<ng-container>
  <form [formGroup]="form" (ngSubmit)="submit($event)">
    <!-- description -->
    <div class="row">
      <div class="col s12 m6 input-container">
        <label for="description"> Descripción </label>
        <input type="text" name="description" id="description" formControlName="description" class="browser-default"
          [class.input-invalid]="IODescription?.dirty && IODescription?.invalid">
      </div>
    </div>

    <div class="row">
      <div class="col s12">
        <button type="submit"> Guardar </button>
      </div>
    </div>
  </form>
</ng-container>