.home-logo-container {
  margin-top: 40px;
}

.home-logo {
  width: 100%;
  height: auto;
}

/* RESPONSIVE STYLES */
/* Materialize Desktop Large */
@media only screen and (min-width: 1200px) { }

/* Materialize Desktop */
@media only screen and (max-width: 1200px) { }

/* Materialize Tablet */
@media only screen and (max-width: 992px) {
  .section-logo {
    margin-bottom: 4em;
  }

  .home-logo {
    width: 40%;
    height: auto;
  }
}

/* Materialize Mobile */
@media only screen and (max-width: 600px) { }