<ng-container>
  <div *ngIf="patient">
    <div class="row">
      <div class="col s12">
        <p> <strong> email: </strong> {{ patient.email }} </p>
        <p> <strong> phone: </strong> {{ patient.phone }} </p>
        <p> <strong> name: </strong> {{ patient.name }} </p>
        <p> <strong> lastname: </strong> {{ patient.lastname }} </p>
        <p> <strong> secondLastname: </strong> {{ patient.secondLastname }} </p>
      </div>
    </div>

    <div class="row" *ngFor="let medicalHistory of patient.medicalHistories">
      <div class="col s5" >
        <p> {{ medicalHistory.description }} </p>
      </div>

      <div class="col s5">
        <p> {{ medicalHistory.createdAt }} </p>
      </div>

      <div class="col s2">
        <button (click)="deleteMedicalHistory(medicalHistory._id)"> <i class="material-icons"> close </i> </button>
      </div>
    </div>

    <div class="row">
      <div class="col s12">
        <a [routerLink]="['/patient/update', patient._id]"> Actualizar </a>
        <a (click)="delete()"> Eliminar </a>
      </div>
    </div>

    <div class="row">
      <div class="col s12">
        <a [routerLink]="['/medical-history/create/patient', patient._id]"> Agregar observacion </a>
      </div>
    </div>

    <div class="row">
      <div class="col s12">
        <select name="officeControl" id="officeControl" [formControl]="officeControl">
          <option *ngFor="let office of offices" [ngValue]="office"> {{ office.name }} </option>
        </select>
      </div>
    </div>

    <div class="row" *ngIf="currentOffice">
      <div class="col s12">
        <select name="formControl" id="formControl" [formControl]="formControl">
          <option *ngFor="let form of currentOffice.forms" [ngValue]="form"> {{ form.version }} {{ form.main ? ' - main ' : '' }} </option>
        </select>
      </div>
    </div>

    <ng-container *ngIf="sections">
      <div class="row" *ngFor="let section of sections">
        <div class="col s12">
          <div class="row">
            <div class="col s12">
              <h1> {{ section.title }} </h1>
            </div>
          </div>

          <div class="row" *ngFor="let question of section.questions">
            <div class="col s12">
              <div class="row">
                <label>{{ question.question }}</label>
                <div *ngIf="question.type === 'shortAnswer' || question.type === 'longAnswer'">
                </div>
          
                <div *ngIf="question.type === 'options' || question.type === 'checkboxes'">
                  <div *ngFor="let option of question.options">
                    <p>
                      <label *ngIf="question.type === 'options'">
                        <span> {{ option.option }} </span>
                      </label>
            
                      <label *ngIf="question.type === 'checkboxes'">
                        <span> {{ option.option }} </span>
                      </label>
                    </p>
                  </div>
                </div>
                <div *ngIf="question.type === 'date'">
                  <input type="date" />
                </div>
                <div *ngIf="question.type === 'time'">
                  <input type="time" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</ng-container>