@import url('./assets/fonts/Roboto.css');
@import url('./assets/styles/typography.css');
@import url('./assets/styles/buttons.css');
@import url('./assets/styles/form.css');
@import url('./assets/styles/spinner.css');

html,
body {
  background-color: #ffffff;
}

body {
  font-family: 'Roboto';
  margin: 0;
}

header, main, footer {
  padding-left: 300px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}

footer {
  clear: both;
  height: 60px;
  margin-top: 180px;
}

/* Icons */
.material-icons {
  color: grey;
}

/* Materialize Mobile */
@media only screen and (max-width: 600px) {
  .row, .col {
    margin-bottom: 1em;
  }
}
