h1 {
  font-size: 102px;
  margin: 0px;
  padding: 0px;
}

h2 {
  font-size: 64px;
  margin: 0px;
  padding: 0px;
}

h3 {
  font-size: 51px;
  margin: 0px;
  padding: 0px;
}

h4 {
  font-size: 36px;
  margin: 0px;
  padding: 0px;
}

h5 {
  font-size: 25px;
  margin: 0px;
  padding: 0px;
}

h6 {
  font-size: 21px;
  margin: 0px;
  padding: 0px;
}

p {
  font-size: 15px;
  margin: 0px;
  padding: 0px;
}
